.add-maintenance-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.add-maintenance-form input[type="date"] {
  padding: 0.5rem;
}

.add-maintenance-form input,
.add-maintenance-form button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
